.statistics {
    margin: 120px 0 105px 0;
    .statistics-items {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        * {
            text-align: center;
        }
    }
    .statistics-item__title {
        @include font("RobotoCondensed-Regular", 24px, 400, 28px);
        color: white;
    }
    .statistics-item__number {
        @include font("Roboto-Regular", 96px, 400, 112px);
        margin-top: 13px;
        position: relative;
        & span {
            @include font("RobotoCondensed-Regular", 24px, 400, 28px);
        }
    }
    .statistics-item__description {
        @include font("RobotoCondensed-Regular", 24px, 400, 28px);
        color: #b70021;
        margin-top: 13px;
    }
    .statistics-item:last-child {
        .statistics-item__number {
            &::after {
                content: "+";
                font-size: 24px;
                position: absolute;
                height: 28px;
                width: 12px;
                top: -30px;
                right: 35px;
            }
        }
    }
}
.section-car-image {
    margin-bottom: 100px;
    img {
        width: 100%;
    }
}
.advantages {
    img {
        width: 100%;
    }
    .advantages-inner__section {
        height: 400px;
        display: flex;
    }
    .advantages-inner__title {
        @include font("RobotoCondensed-Regular", 35px, 400, 42px);
        color: #b70021;
    }
    .advantages-inner__description {
        display: flex;
        flex-flow: column;
        flex: 1 0;
    }
    .advantages-inner__text {
        @include font("RobotoCondensed-Regular", 24px, 400, 28px);
    }
    .advantages-inner__section:first-child {
        margin-bottom: 110px;
        .advantages-inner__title {
            margin-bottom: 100px;
        }
        .advantages-inner__text {
            width: 300px;
        }
    }
    .advantages-inner__description:nth-child(2) {
        margin-left: 58px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;

        .advantages-inner__text {
            width: 240px;
            flex: 1 0;
            margin-bottom: 40px;
        }
        .advantages-list {
            padding: 0;
        }
        .advantages-list__item {
            list-style-type: none;
        }
        .advantages-inner__title {
            flex: 1 0 100%;
            text-align: end;
        }
    }
}
.design {
    margin: 100px auto;
    .design-img {
        margin-bottom: 100px;
        img {
            width: 100%;
        }
    }
    .design-section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .design-section__item {
        max-width: 570px;
        width: 100%;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
    }
    .design-section__item:nth-child(2) {
        margin-left: 74px;
    }
    .design-section__item-number {
        @include font("RobotoCondensed-Regular", 24px, 400, 28px);
        color: #b70021;
        width: 30px;
    }
    .design-section__item-text {
        @include font("RobotoCondensed-Regular", 24px, 400, 28px);
        max-width: 420px;
        padding-top: 30px;
    }
}
.footer {
    ul {
        padding: 0;
    }
    background-color: #690102;
    padding: 83px 0 20px;
    .footer-content__btn {
        @include font("RobotoCondensed-Regular", 24px, 700, 28px);
        width: 284px;
        padding: 30px 60px;
        background: rgba(0, 0, 0, 0.15);
        border: #ffffff 1px solid;
        cursor: pointer;
        transition: all 1s ease;
        margin: 0 auto 83px auto;
        a {
            color: #ffffff;
            text-decoration: none;
        }
        &:hover {
            background-color: #770302;
        }
    }
    .footer-copy {
        max-width: 900px;
        margin: 0 auto;
    }
    .footer-copy__list {
        display: flex;
        justify-content: space-between;
    }
    .footer-copy__list-item {
        @include font("RobotoCondensed-Regular", 24px, 700, 28px);
        list-style-type: none;
        position: relative;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .footer-copy__list-item + .footer-copy__list-item::before {
        content: "|";
        position: absolute;
        left: -15px;
    }
}
