@import "normalize";
@import "header";
@import "slider";
@import "section";
@import "popup";
@import "media";
@font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Condensed-Bold";
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
}
